Maple-Demo1/Connected Services/MyDemoService1/MyDemoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetWebServiceMsg">
        <s:complexType />
      </s:element>
      <s:element name="GetWebServiceMsgResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetWebServiceMsgResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetWebServiceMsgSoapIn">
    <wsdl:part name="parameters" element="tns:GetWebServiceMsg" />
  </wsdl:message>
  <wsdl:message name="GetWebServiceMsgSoapOut">
    <wsdl:part name="parameters" element="tns:GetWebServiceMsgResponse" />
  </wsdl:message>
  <wsdl:portType name="MyDemoServiceSoap">
    <wsdl:operation name="GetWebServiceMsg">
      <wsdl:input message="tns:GetWebServiceMsgSoapIn" />
      <wsdl:output message="tns:GetWebServiceMsgSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MyDemoServiceSoap" type="tns:MyDemoServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetWebServiceMsg">
      <soap:operation soapAction="http://tempuri.org/GetWebServiceMsg" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MyDemoServiceSoap12" type="tns:MyDemoServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetWebServiceMsg">
      <soap12:operation soapAction="http://tempuri.org/GetWebServiceMsg" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MyDemoService">
    <wsdl:port name="MyDemoServiceSoap" binding="tns:MyDemoServiceSoap">
      <soap:address location="http://localhost:59366/MapleService/MyDemoService.asmx" />
    </wsdl:port>
    <wsdl:port name="MyDemoServiceSoap12" binding="tns:MyDemoServiceSoap12">
      <soap12:address location="http://localhost:59366/MapleService/MyDemoService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>